@model PollPosition.Pages._SearchbarModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="px-4 pt-4 pb-2 sm:px-6">
        <form method="get">
            <label for="place-address" class="block text-sm font-medium leading-5 text-gray-700">Enter your address to find your elected officials</label>
            <div class="mt-1 flex rounded-md shadow-sm">
                <div class="relative flex-grow focus-within:z-10">
                    <div class="absolute inset-y-0 left-0 flexitems-center px-2 py-2 border border-gray-300 text-sm leading-5 font-medium text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                        <a href="#" onclick="getAddress()" title="Click to find your address" >
                            <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                    <input asp-for="Address" onfocus="this.value=''" id="place-address" class="form-input block w-full rounded-none rounded-l-md pl-12 transition ease-in-out duration-150 sm:text-sm sm:leading-5" />
                </div>
                <button asp-page="search" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-r-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                    <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                    <span class="ml-2 hidden md:block">Search</span>
                </button>
            </div>
        </form>
    </div>

<script>
    function getAddress() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(position => {
                geoCode(position.coords.latitude, position.coords.longitude);
            });
        }
    }

    function geoCode(latitude, longitude) {

        var geocoder = new google.maps.Geocoder;
        var latlng = { lat: latitude, lng: longitude };

        geocoder.geocode({ 'location': latlng }, function (results, status) {
            if (status === 'OK') {
                if (results[0]) {
                    window.location.href = "/Search?Address=" + results[0].formatted_address;
                }
            } else {
                console.log('Geocoder failed due to: ' + status);
            }
        });
    }
</script>